* {
  background-color: rgb(252, 216, 222);
}
body {
    font-family: sans-serif;
    padding: 2%;
  }

.para{
    width: 20%;
    height: 50px;
    padding: 25px;
    border: 1px solid;
}

.parent > h2 {
  color: blue;
}
.parent > p {
color: yellow;
}

.percent{
  font-size: 150%;
  line-height: 125%;
}

.pexel{
  letter-spacing: 1em;
}