
body {
    font-family: sans-serif;
    padding: 2%;
  }

.para{
    width: 20%;
    height: 50px;
    padding: 25px;
    border: 1px solid;
}

.parent > h2 {
  color: blue;
}
.parent > p {
color: yellow;
}

.percent{
  font-size: 150%;
  line-height: 125%;
}

.pexel{
  letter-spacing: 1em;
}




.images_ex {
  width:100%;
  height:40em;
}
.img{
background-image: url("images/computer.jpg");
background-repeat: no-repeat;
background-size: cover;
height:100%
}

.img > p{
  text-align: center;
  padding-top: 5em;
  font-family:georgia,garamond,serif;
  font-style: italic;
  font-variant:small-caps;
  font-weight:bold;
  font-size: 50px;
  font-size-adjust: 0.6;
}

.text_d1{
  color: red;
 direction: rtl;
 letter-spacing: 4px;
 word-spacing:5px;
 text-indent:1cm;
 text-align:right;
 text-decoration: underline;
 text-transform:uppercase;
 text-shadow: 4px 4px 8px blue;
}

.image_d1{
  background-image: url(Images/Studyroom.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height:40em;
}

.links > a:link {
  color: green;
  font-size: 30px;
}

.links > a:visited {
 color: rgb(0, 255, 128);
 font-size: 30px;
}

.links > a:hover {
 color: brown;
 font-size: 30px;
}

.links > a:active {
color: red;
font-size: 30px;
}

table.one { 
  border-collapse: separate;
  width: 400px;
  border-spacing: 10px 50px;
 }
 
 table.two{
   border-collapse: separate;
 }
 
 td.a {
   border-style: dotted;
   border-width: 3px;
   border-color: blue;
   padding: 10px;
 }
 td.b {
   border-style: solid;
   border-width:3px;
   border-color: green;
   padding: 10px
 }

 caption.top {
  caption-side:top;
 }