body{
 
    background-color:rgb(108, 230, 134)
}
p{
 text-align: center;
}

a:link{
    color:rgb(252, 235, 0);
    text-decoration:none;
    }
    a:visited{
    color:gray;
    text-decoration:underline;
    }
    a:hover{
    color:red;
    }
    a:active{
    color:yellow;
    }