body{
 
    background-color:rgb(108, 230, 134)
}
p{
 text-align: center;
}

a:link{
    color:rgb(252, 235, 0);
    text-decoration:none;
    }
    a:visited{
    color:gray;
    text-decoration:underline;
    }
    a:hover{
    color:red;
    }
    a:active{
    color:yellow;
    }

table, th, td {
        border:1px solid black;
      }

      .city{
        background-color: Blue;
        border: 2px solid black;
       }
       

       #head3{
        background-color: black;
        color:white;
        padding: 40px;
        text-align:center;
        }